<div class="container">
    <div id="game" class="justify-center flex-column">
        <!-- QUESTION PLACEHOLDER TEXT AREA-->  
        <h2 id="question">{{question}}<h2>
        <!-- QUESTION PLACEHOLDER TEXT AREA END-->
        
        <!-- ANSWER SELECTION CONTAINER-->
        <button id="answer-1" class="choice-container">
            <p class="choice-prefix">A</p>
            <p class="choice-text" data-number="1">{{answer1}}</p>
        </button>
                
        <button id="answer-2" class="choice-container">
            <p class="choice-prefix">B</p>
            <p class="choice-text" data-number="2">{{answer2}}</p>
        </button>
                
        <button id="answer-3" class="choice-container">
            <p class="choice-prefix">C</p>
            <p class="choice-text" data-number="3">{{answer3}}</p>
        </button>
                
        <button id="answer-4" class="choice-container">
            <p class="choice-prefix">D</p>
            <p class="choice-text" data-number="4">{{answer4}}</p>
        </button>
        <!-- ANSWER SELECTION CONTAINERS END-->
        <p id="correct_answer" style="display: none;">{{correct_answer}}</p>
    </div>
</div>