    <li>
      Highscore: {{score_amount}}
      Username: {{user.username}}
      <a href="/score/{{id}}" class="edit-link">{{comments.length}} {{format_plural "comment" comments.length}}</a>
    </li>