<div class="card highscore-card container-fluid" id="highscore-card" >
    <div class="card-body">
        <div class="quiz-name" id="quiz-name">
            <p>Username: {{user.username}}</p>
        </div>
        <div class="quiz-date" id="quiz-date">
            <p>Date:{{format_date created_at}}</p>
        </div>
        <div class="score-display" id="score-display">
            <p>Score: {{score_amount}} </p>
        </div>
        <a href="/score/{{id}}" class="edit-link">{{comments.length}} {{format_plural "comment" comments.length}}</a>
    </div>
</div>