
<div class="score-list card highscore-card container-fluid my-1" id="highscore-card" >
    <div class="card-body">
        <li class="px-5">
            <a href="/score/{{id}}" class="d-flex justify-content-around align-items-center flex-wrap w-100">
                {{!-- <div class="d-flex justify-content-around align-items-center flex-wrap w-50"> --}}
                    <div class="quiz-name" id="quiz-name">
                        <span class="score-title">Player:</span> <br> {{user.username}}
                    </div>
                    <div class="score-display" id="score-display">
                        <span class="score-title">Score:</span> <br> {{score_amount}}
                    </div>
                {{!-- </div> --}}
                    <div class="quiz-date" id="quiz-date">
                        <span class="score-title">Category:</span> <br> {{category_id}}
                    </div>

                    <div class="quiz-date" id="quiz-date">
                        <span class="score-title">Difficulty:</span><br>{{difficulty}}
                    </div>

                {{!-- <div class="d-flex justify-content-around align-items-center flex-wrap w-50"> --}}
                    <div class="quiz-date" id="quiz-date">
                        <span class="score-title">Date:</span> <br> {{format_date created_at}}
                    </div>
                    <div class="edit-link">
                        {{comments.length}} {{format_plural "comment" comments.length}}
                    </div>
                {{!-- </div> --}}
            </a>
        </li>
    </div>
</div>
