<main>
    <!-- PROGRESS TRACKER INFORMATION -->
    <!-- QUIZ PROGRESS STATUS DISPLAY -->
    <div class="container d-flex justify-content-between flex-wrap my-4">
        <div id="hud-item" class="d-flex">
            <h3 class="hud-prefix"> Question :</h1>
            <h3 class="hud-main-text" id="questionCounter"></h1>
        </div>  

        <!-- QUIZ PROGRESS STATUS DISPLAY END-->
        
        <!-- QUIZ CORRECT ANSWER DISPLAY -->
        <div id="hud-item" class="d-flex text-right">
            <h3 class="hud-prefix"> Correct :</h1>
            <h3 class="hud-main-text" id="score">0</h1>
        </div>
        <!-- QUIZ CORRECT ANSWER DISPLAY END -->
        
        <!-- GAME TIMER -->
        <div id="hud-item" class="d-flex">
            <h3 class="hud-prefix"> Time Remaining :</h1>
            <h3 class="hud-main-text" id="countdown"></h1>
        </div> 

        <!-- GAME TIMER END -->
        <!-- PROGRESS TRACKER INFORMATION END-->
    </div>

    {{!-- <div class="">
        <div id="game" class=""> --}}
            <!-- QUESTION PLACEHOLDER TEXT AREA-->  
            <h2 id="question">{{question}}</h2>

            <button type="button" id="answer-1" data-number="1" class="choice-container">
                {{!-- <div class="choice-prefix">A</div> --}}
                {{!-- <div class="choice-text" data-number="1"> --}}
                    {{answer1}}
                    {{!-- </div> --}}
            </button>
                    
            <button type="button" id="answer-2" data-number="2" class="choice-container">
                {{!-- <div class="choice-prefix">B</div> --}}
                {{!-- <div class="choice-text" data-number="2"> --}}
                    {{answer2}}
                    {{!-- </div> --}}
            </button>
                    
            <button type="button" id="answer-3" data-number="3" class="choice-container">
                {{!-- <div class="choice-prefix">C</div> --}}
                {{!-- <div class="choice-text" data-number="3"> --}}
                    {{answer3}}
                    {{!-- </div> --}}
            </button>
                    
            <button type="button" id="answer-4" data-number="4" class="choice-container">
                {{!-- <div class="choice-prefix">D</p> --}}
                {{!-- <div class="choice-text" data-number="4"> --}}
                    {{answer4}}
                    {{!-- </div> --}}
            </button>

            <p id="correct_answer" style="display: none;">{{correct_answer}}</p>
        {{!-- </div>
    </div> --}}

</main>
<script src="/javascript/questionspage.js"></script>
